body {
    font-family: monospace;
    font-size: 150%;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.section {
    grid-column: span 1;
    padding: 10px;
}

.section.block {
    grid-column: span 2;
}

@media screen and (max-width: 768px) {
    .section {
	grid-column: span 2;
    }
}

a {
    color: black;
}   

a:hover {
    color: #e53e3e;
}

.greeting {
    font-size: 120%;
    padding-top: 0;
}

.text-center {
    text-align: center;
}

