body {
    font-family: monospace;
}

h1 {
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0;
}

.social-links {
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    line-height: 40px;
}

.social-links a {
    color: black;
}

.userpic {
    border: 1px solid #777;
}
