html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background-color: #073642;
    font-size: 18pt;
    line-height: 24pt;
    font-family: Helvetica, Arial, Sans-Serif;
    color: #222;
}

table td {
    vertical-align: top;
}

#outer {
    display: inline-block;
    padding: 17px;
    opacity: 0.95;
    text-align: left;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

#inner {
    background-color: #eee8d5;
    color: #586e75;
    padding: 30px 50px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

#bio {
    text-align: right;
    padding-right: 40px;
    margin-right: 20px;
}

#name {
    font-family: 'Arvo', arial, serif;
    font-weight: bold;
    font-size: 26pt;
    line-height: 45pt;
}

#name {
    color: #93a1a1;
}

#description {
    font-family: 'Droid Sans', arial, serif; 
    font-size: 12pt;
    margin: 10px 0px;
    text-align: left;
}

#description a {
    color: #23C;
    text-decoration: none;
    border-bottom: dotted 1px #ccb;
    padding: 2px 2px 0px 2px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

#description a:HOVER {
    background-color: #F5F5F0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#description a:ACTIVE {
    background: #fff;;
}

.contact {
    font-size: 16px;
    line-height: 16px;
    margin-top:30px;
}

#logo img {
    margin: 10px 0px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#services {
    font-size: 80%;
    width: 200px;
}

#services a.service {
    font-size: 16pt;
    line-height: 16pt;
    display: block;
    text-decoration: none;
    font-family: 'Droid Sans', arial, serif; 
    color: #586e75;
    padding: 12px 20px;
    width: 200px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    position: relative;
    left: 0px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

#services a.service:hover {
    position: relative;
    display: block;
    margin-left: -7px;
    background-color: #fdf6e3;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

#services a.service span {
    position: relative;
    top: 3px;
}

#services a.service img {
    vertical-align: middle;
    margin-right: 7px;
    border: 0px;
}
